version: '2'
services:

  ## Config Servers
  config01:
    image: mongo
    command: mongod --port 27017 --configsvr --replSet configserver --dbpath /data/db
    volumes:
      - ./scripts:/scripts
      - ./mongocluster/config01:/data/db
  config02:
    image: mongo
    command: mongod --port 27017 --configsvr --replSet configserver --dbpath /data/db
    volumes:
      - ./scripts:/scripts
      - ./mongocluster/config02:/data/db

  ## Shards
  shard01a:
    image: mongo
    command: mongod --port 27017 --shardsvr --replSet shard01 --dbpath /data/db
    volumes:
      - ./scripts:/scripts
      - ./mongocluster/shard01a:/data/db
  shard01b:
    image: mongo
    command: mongod --port 27017 --shardsvr --replSet shard01 --dbpath /data/db
    volumes:
      - ./scripts:/scripts
      - ./mongocluster/shard01b:/data/db

  ## Router
  router:
    image: mongo
    command: mongos --port 27017 --configdb configserver/config01:27017,config02:27017,config03:27017 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - ./scripts:/scripts
      - ./mongocluster/router:/data/db
    depends_on:
      - config01
      - config02
      - shard01a
      - shard01b
